body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #333;
    touch-action: none;
    /* Prevent Pull-to-refresh */
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
}